.settings
config/*.*
win32*/**/*.htm
win32netdecoder/inc/*.h
win32netdecoder/inc/*.cpp
.git-old

*.class
*.exe
*.dll
*.jar
*.lib
*.zip
*.db

*.exp
*.pdb
*.obj
*.idb
*.pch
*.dep
*.manifest
*.o
*.ncb
*.suo